# Configuration MongoDB
MONGODB_URI=mongodb://localhost:27017/ecologis

# Configuration JWT
JWT_SECRET=4fc50877751b3169deace1893012b8d8fd6b03b68f4081cb4d9a016918828edb
JWT_REFRESH_SECRET=f8c83bb448b18ee7f39a0071eac337cab8b67af93a2f81ac6802ea38b0e0d078af71
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

# Configuration WhatsApp (pour plus tard)
WHATSAPP_API_KEY=votre_whatsapp_api_key
WHATSAPP_PHONE_NUMBER=+22897240460

# Configuration serveur
PORT=3000
NODE_ENV=development

# Configuration notifications (pour plus tard)
FIREBASE_SERVER_KEY=votre_firebase_server_key
518